:root {
--primary-color: red;
--secundary-color:blue;
--header-size:6rem;
--font:1.8rem;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: inherit;

    color: purple;
    margin-bottom: 10px;
}


h2 ~ p {
    color:blue;
}


h2 + p {
    color: red;
}

div > p {
    color: brown;
}

.title{
    font-size:var(--header-size);
    font-family: monospace;
   
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}



.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: red;
}

body{
    background-color: lightgray;
}

p,li,a{
    color: black;
}

.perritosimg{
    width: 100px;
}

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color:white;
    padding: 5px ;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color:red;
}
.main-nav__item a::after {
    content: " | ";
}


main{
    width: 100%;
    min-height: 100vh;
    border: 10px solid gray;
    padding: 20px 35px;
}

.medidas p{
    font-size: 200%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.medidas{
    width: 100%;
    height:100vh;
    background-color: gray;
}

.emyrem {
    font-size: 30px;
}

.emyrem p {
    font-size: 1em;
}

.remyem{

}

.remyem p {
    font-size: 1.6rem;
}

.hw{
    width: 50vw;
    min-height: 50vh;
    background-color: purple;
}

.hw > div{
    width: 80%;
    min-width: 320px;
    max-width: 200px;
    min-height: 300px;

    margin:  0 auto;
    background-color: red;

}
.parentbox{
   border:  2px dotted; 
   margin-top: 30px;
   display: inline-block;
}

.box{
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two{
    background-color: green;
}

.sectionboxes{
    width: 80%;
    min-height: 200px;
    padding: 50px;
    background-color: gray;
    margin: 0 auto;
    border-radius: 10px;
}

#one2{
    position: absolute;
    background-color:red;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, -158%);
    width: 300px;
    height: 49px;
    left: 50%;
    border-radius: 10px;
}

.sectionboxes  p {
    color: black;
}

.block-element{
    background-color: green;
    padding: 20px;
    margin: 10px;
}

.navmain{
    background-color: peachpuff;
    padding: 20px;
    text-align: center;
    list-style: none;
}

.navmain li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.layoutbasico{
    width: 100%;
    min-height: 50vh;
    background-color: lightblue;
    margin-top: 100px;
}

.layoutlevel {
    display: block;
}

.headerlevel, .footerlevel{
    display: inline-block;
    padding: 5px;
    width: 45%;
}

#header{
    background-color: gray;
}

#main{
    background-color: white;
    
}

#footer{
    background-color: yellow;
    
}


#main-nav, #social-nav{
 display: inline-block;
 list-style: none;
 height: auto;
}

#main-nav li,#social-nav li{
    display: inline-block;
    margin: 10px;
    padding: 20px;
}

.mainlevel{
    display: inline-block;
    padding: 5px;
    height: 50vh;
}

#sidebar{
width: 20%;
background-color: peachpuff;
float: left;
overflow-y: scroll;
}

#maincontent{
width: 80%;
}

.sideboxes{
    display: block;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: lightcyan;
    border-radius: 10px;
}

.flexclass{
    border: 0.3rem solid black;
    display: flex;
    /* flex-direction: row-reverse;
   
    justify-content: space-evenly; */
    /* min-height: 50vh; */
    /* align-items: stretch;
*/
flex-wrap: wrap;
}
.flexclass p {
    color: black;
}

.boxx{
    width: 10rem;
    height: 10rem; 
     flex-basis: 10rem;
     flex-grow: 1;
}

.box1{
    background-color: blue;

   
}

.box2{
    background-color: blueviolet;
   
   
}

.box3{
    background-color: burlywood;
   
}

.box4{
    background-color: cadetblue;
  
}

.box5{
    background-color: coral;
   
}

.box6{
    background-color: salmon;
   
}

.variablesclass h1{
    font-size: var(--header-size);
}

footer {
    /* width: 100vw; */
    height: 15vh;
    background-color: var(--secundary-color);
}